<!-- carousel -->
<div class="carousel">
    <button mat-icon-button color="accent" class="controlPrev" (click)="onPreviousClick()">
        <mat-icon>chevron_left</mat-icon>
    </button>

    <ng-container *ngFor="let slide of slides; let i = index">
        <img
            *ngIf="i === currentSlide"
            [src]="slide.src"
            class="slide"
        />
    </ng-container>

    <button mat-icon-button color="accent" class="controlNext" (click)="onNextClick()">
        <mat-icon>chevron_right</mat-icon>
        </button>    

    <!-- controls
    <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
    </button>  -->
</div>