#making {
    .container {
        mat-card {
            mat-card-header {
                min-height: 2rem;
                mat-card-title {
                    text-decoration: underline #FF3D00 0.13rem;    
                }  
            }

            .image {
                margin: 1rem 0;
                display: flex;
                justify-content: center;
            
                img {
                    height: 7rem;
                }
            }
        }
    }
}

@media(min-width: 768px){
    #making {
        .container {
            mat-card {    
                .image {
                    img {
                        height: 15rem;
                    }
                }
            }
        }
    }
}

@media(min-width: 820px){
    #making {
        .container {
            mat-card {    
                .image {
                    img {
                        height: 12rem;
                    }
                }
            }
        }
    }
}

@media(min-width: 1024px){
    #making {
        .container {
            mat-card {    
                .image {
                    img {
                        height: 17rem;
                    }
                }
            }
        }
    }
}

@media(min-width: 1440px){
    #making {
        .container {
            mat-card {    
                .image {
                    img {
                        height: 25rem;
                    }
                }
            }
        }
    }
}