#contact {
    .container {
        mat-card {
            .image {
                display: flex;
                justify-content: center;
            }
            
            mat-card-content {
                display: flex;
                align-items: center;
                min-height: 5rem;
            }
        }
    }
}

@media(min-width: 768px){
    #contact {
        .container {
            mat-card {
                mat-card-content {
                    p {
                        font-size: 1.25rem;
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
}

@media(min-width: 1440px){
    #contact {
        justify-content: flex-start;

        .container {
            flex-direction: row;
            justify-content: space-evenly;

            mat-card {
                width: 40%;
                margin-top: 2rem;

                mat-card-content {
                    min-height: 6rem;
                }    
            }
        }
    }
}