#contact {
    .container {
        mat-card {
            .image {
                display: flex;
                justify-content: center;
            }
            
            mat-card-content {
                min-height: 5rem;
            }
        }
    }
    
}

// @media(min-width: 768px){
//     #contact .title {
//         font-size: 2.5rem;
//     }

//     .container {
//         padding: 4rem 0;
//     }

//     mat-card {
//         max-width: 60%;
//     }
// }

// @media(min-width: 800px){
//     mat-card {
//         margin: 3rem 0;
//     }
// }

// @media(min-width: 992px){
//     mat-divider {
//         margin-top: 1rem;
//     }

//     .container {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-evenly;
//     }

//     mat-card {
//         max-width: 30%;
//     }
// }