#skills {
    .container {
        mat-card {
            mat-card-header {
                min-height: 2rem;
                mat-card-title {
                    text-decoration: underline #FF3D00 0.13rem;    
                }  
            }
                    
            mat-card-content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            
                .description {
                    .image {
                        min-height: 5rem;
                        margin-top: 1rem;
                        display: flex;
                        justify-content: center;
                    }
                
                    p {
                        font-weight: bold;
                    }
                }
            }        
        }
    }
}