<div id="about" class="mainContainer">
    <h1 class="title">
        À Propos De Moi
    </h1>
    <mat-divider></mat-divider>
    <div class="container description">
        <p>
            Manager de PME de formation, j'ai eu diverses expériences dans le secteur du commerce d'habillement dont 3 ans dans la même structure.
        </p>
        <p>
            Suite à cela, j'ai choisi de me reconvertir dans l'univers du développement web et web mobile en suivant une formation. Celle-ci m'a permis d'assimiler les bases du front-end et du back-end.
        </p>
        <p>
            En complément, je viens de terminer une formation de spécialisation en développement d'applications mobiles.
        </p>
        <p>
            Dynamique et souriante, je souhaite rejoindre une équipe au sein de laquelle je saurai être un membre actif tout en améliorant mes acquis.
        </p>
        <p class="hobbies">
            <span class="hobbiesName">Centres d'intérêt :</span> 
            couture, pâtisserie, jeux vidéo, décoration d'intérieur
        </p>
    </div>
</div>