#about {
    .description {
        margin-top: 1rem;  
        text-align: justify;

        p {
            padding: 0 1.5rem;
        }

        .hobbies {
            margin-top: 1rem;
            text-align: center;

            .hobbiesName {
                font-weight: bold;
                text-decoration: underline #FF3D00;
            }        
        }
    }
}

@media(min-width: 820px){
    #about {
        .description {
            p {
                padding: 0 3rem;
            }
        }
    }
}