#education {
    align-items: center;

    .container {
        mat-card {
            .image {
                display: flex;
                justify-content: center;

                img {
                    width: 7rem;
                }
            }

            mat-card-header {
                min-height: 5rem;
                mat-card-title {
                    font-size: 1.1rem;
                } 
            }

            mat-card-content {
                display: flex;
                justify-content: center;
            
                .description {
                    p {
                        max-width: 100%;
                        text-align: start;

                        .cardSubtitle {
                            font-weight: bold;
                            text-decoration: underline #FF3D00;
                        }                        
                    }
                }
            }
        }
    }
}

@media(min-width: 820px){
    #education {
        .container {
            mat-card {
                .image {    
                    img {
                        width: 10rem;
                    }
                }
            }
        }
    }    
}