<div class="mat-typography mat-app-background">
    <mat-toolbar color="primary" *ngIf="sidenav.mode === 'over'">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
            <mat-slide-toggle (change)="switchTheme()" class="appBth"></mat-slide-toggle><br>
            
            <img class="avatar mat-elevation-z8" src="../assets/images/profile_picture.jpg" />
            <h4 class="name">Adeline IZRI</h4>
            <p class="designation">Développeuse Web et Web Mobile</p>

            <a [routerLink]="['home']" [routerLinkActive]="['selected']" mat-button class="menu-button first-menu-button">
                <mat-icon>home</mat-icon>
                <span>Accueil</span>
            </a>
            <a [routerLink]="['about']" [routerLinkActive]="['selected']" mat-button class="menu-button">
                <mat-icon>person</mat-icon>
                <span>À Propos</span>
            </a>
            <a [routerLink]="['skills']" [routerLinkActive]="['selected']" mat-button class="menu-button">
                <mat-icon>info</mat-icon>
                <span>Compétences</span>
            </a>
            <a [routerLink]="['education']" [routerLinkActive]="['selected']" mat-button class="menu-button">
                <mat-icon>home</mat-icon>
                <span>Parcours</span>
            </a>
            <a [routerLink]="['making']" [routerLinkActive]="['selected']" mat-button class="menu-button">
                <mat-icon>person</mat-icon>
                <span>Réalisations</span>
            </a>
            <a [routerLink]="['contact']" [routerLinkActive]="['selected']" mat-button class="menu-button">
                <mat-icon>info</mat-icon>
                <span>Contact</span>
            </a>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>