$primary-light: #ce93d8;
$primary-dark: #4a148c;
$accent: #FF3D00;
$warn: #D50000;

mat-sidenav {
    width: 15rem;
    margin: 1rem;
    padding-top: 1rem;
    border : {
        right: none;
        radius: 0.5rem;    
    }
    text-align: center;

    .themeMode {
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-evenly;
    }   
    
    .avatar {
        width: 10rem;
        margin-top: 1rem;
        border-radius: 5rem;
    }
    
    .name {
        margin: 0.5rem 0;
        font : {
            weight: bold;
            size: medium;    
        }
    }
    
    .designation {
        margin-bottom: 2rem;
    }

    .menu-button {
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: flex-start;
        border-radius: 0;
        align-items: center;
        font-size: 1rem;

        mat-icon {
            margin-right: 0.5rem;
        }
    }
    
    .linkMode {
        margin-top: 1rem;
        display: flex;
        justify-content: space-evenly;

        .linkTheme, .linkTheme:hover {
            background-color: transparent;
            border: none;
        }
    }   
}

mat-sidenav-content {
    height: calc(100vh - 3.5rem);

    .content {
        height: calc(100vh - 7.5rem);
        margin: 1rem;
        padding: 1rem 0;
        border-radius: 0.5rem;
    }
}

@media(min-width: 768px){
    mat-sidenav-content {
        height: calc(100vh - 4rem);

        .content {
            height: calc(100vh - 8rem);
        }    
    }
}

@media(min-width: 820px){
    mat-sidenav {
        .name {
            font-size: large;    
        }

        .designation {
            font-size: medium;    
        }

        .menu-button {
            font-size: 1.25rem;
        }    
    }
    
    mat-sidenav-content {
        height: 100vh;

        .content {
            height: calc(100vh - 4rem);
            margin-left: 2rem;
        }    
    }
}

//LIGHT THEME

.background-light {
    background: {
        image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url(../assets/images/background.jpg);
        position: bottom;
        repeat: no-repeat;
        size: cover;
        attachment: fixed;
    }

    .bgShadow {
        background-color: white;
        opacity: 0.7;
    }
}

.sidenav-light-color {
    background-color: $primary-light;

    a {
        border-bottom: 0.1rem solid white;
    }

    a:hover, a.selected {
        background-color: white;
    }

    a.first-menu-button {
        border-top: 0.1rem solid white;
    }
}

//DARK THEME

.background-dark {
    background: {
        image: linear-gradient(rgba(21, 21, 21, 0.7), rgba(21, 21, 21, 0.7)),
        url(../assets/images/background.jpg);
        position: bottom;
        repeat: no-repeat;
        size: cover;
        attachment: fixed;
    }

    .bgShadow {
        background-color: #212121;
        opacity: 0.7;
    }
}

.sidenav-dark-color {
    background-color: $primary-dark;

    a {
        border-bottom: 0.1rem solid #212121;
    }

    a:hover, a.selected {
        background-color: #212121;
    }

    a.first-menu-button {
        border-top: 0.1rem solid #212121;
    }
}