mat-sidenav {
    margin: 1rem;
    width: 15rem;
    border-right: none;
    border-radius: 0.5rem;
    padding-top: 1rem;
    text-align: center;
}

mat-sidenav-content {
    height: calc(100vh - 3.5rem);
}

.content {
    height: calc(100vh - 7.5rem);
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: medium;
    border-radius: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
    mat-icon {
        margin-right: 0.5rem;
    }
}

.avatar {
    margin-top: 1rem;
    width: 10rem;
    border-radius: 5rem;
}

.name {
    margin: 0;
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: medium;
}

.designation {
    margin-top: 0.3rem;
    font-size: small;
    margin-bottom: 2rem;
}

// mat-divider {
//     margin-top: 1rem;
//     margin-bottom: 1rem;
//     background-color: rgba(255, 255, 255, 0.5);
// }

@media(min-width: 768px){
    mat-sidenav-content {
        height: calc(100vh - 4rem);
    }
    .content {
        height: calc(100vh - 8rem);
        margin-left: 1rem;
    }
}

@media(min-width: 800px){
    mat-sidenav-content {
        height: 100vh;
    }
    .content {
        height: calc(100vh - 4rem);
        margin-left: 2rem;
    }
}

//LIGHT THEME

.background-light {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                    url(../assets/images/background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background-light .bgShadow {
    background-color: white;
    opacity: 0.7;
}

.sidenav-light-color {
    background-color: #ce93d8!important;
}

.sidenav-light-color a {
    border-bottom: 0.1rem solid white;
}

.sidenav-light-color a:hover, .sidenav-light-color a.selected {
    background-color: white;
}

.sidenav-light-color a.first-menu-button {
    border-top: 0.1rem solid white;
}

//DARK THEME

.background-dark {
    background-image: linear-gradient(rgba(21, 21, 21, 0.7), rgba(21, 21, 21, 0.7)),
                    url(../assets/images/background.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background-dark .bgShadow {
    background-color: #212121;
    opacity: 0.7;
}

.sidenav-dark-color {
    background-color: #4a148c!important;
}

.sidenav-dark-color a {
    border-bottom: 0.1rem solid #212121;
}

.sidenav-dark-color a:hover, .sidenav-dark-color a.selected {
    background-color: #212121;
}

.sidenav-dark-color a.first-menu-button {
    border-top: 0.1rem solid #212121;
}