@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

#home {
    scroll-behavior: auto;
    overflow: auto;

    .name {
        margin-top: 1rem;
        text-align: center;
        font : {
            family: 'Licorice', cursive;
            weight: bold;
            size: 4rem;
        }
    }

    .nameJobContainer {
        margin: 1rem 0;
        padding: 1rem 0;
        
        .nameJob {
            height: 4rem;
            margin: 0 1.5rem;    
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

@media(min-width: 768px){
    #home {
        .name {
            font-size: 7rem;
        }

        .nameJobContainer {
            margin: 2rem 0;

            .nameJob {
                height: 2rem;
                font-size: 2rem;
            }
        }
    }
}

@media(min-width: 820px){
    #home {
        .name {
            font-size: 10rem;
            line-height: 10rem;
        }

        .nameJobContainer {
            margin: 3.5rem 0;

            .nameJob {
                height: 5rem;
                font-size: 3rem;
                line-height: 4rem;
            }
        }
    }
}