@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

#home {

display: flex;
flex-direction: column;
}

#home .name {
    text-align: center;
    font-family: 'Licorice', cursive;
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 3rem;
}

#home .nameJob {
    height: 2rem;
    text-align: center;
    font-size: x-large;
    margin-bottom: 3rem;
}

#home .description {
    text-align: center;
    font-size: x-large;
    line-height: 2.5rem;
    padding: 0 4.5rem;
}